body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
  padding-bottom: 2em;
}

header h1 {
  float: left;
  width: 570px;
  font-size: xx-large;
}

header nav {
  float: right;
  width: 285px;
  font-size: large;
}

main {
  background: white;
  overflow: auto;
  padding-bottom: 2em;
}

main dd {
  padding-left: 2em;
  padding-bottom: 1em;
}

main .left {
  float: left;
  width: 570px;
  margin-left: 2em;
}

main .right {
  float: right;
  width: 285px;
}

footer {
  overflow: auto;
  padding-top: 2em;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}